[submodule "/home/franek/Documents/stm32_cubemx/stm32l476rg/stm32_cubemx_as5600/components/as5600"]
	path = /home/franek/Documents/stm32_cubemx/stm32l476rg/stm32_cubemx_as5600/components/as5600
	url = git@github.com:FranciszekJanicki/as5600.git
